.navBar{
  display: flex;
  padding: 8px 4%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(42, 39, 39);
  color: black;
}
.logo{
  margin-right: 20px;
  width: max(10%, 80px);
}
.profile{
  width: 40px;
}